<h2>About</h2>

<p class="ph">This is my first project build with Angular. This web page displays music information retrieved from Spotify using his API services. </p>
<p class="ph">This App displays the most updated music information available at Spotify. The first page is a list of recent album releases availables. 
This page offers the posibility to search music by the artist name. Access the search bar in the unfoldable navigation bar, the app will display  alist of  artist that matches the word entered.
 This app also allows the user to create a list of favorite songs and display them in the  favorites section. 
Some songs offer a short audio that can be listened.      
</p>

<br/>
<br/><mat-card>
    <mat-card-content >
        <table>
            <tr>
              <td>
                <div>
                    <p><Strong>Developer:</Strong> Edgar Garcia</p>
                    <ul>
                        <li>Computer programer</li>
                        <li>Electronic Engineer</li>
                    </ul>
                    <p><Strong>Skills: </Strong></p>
        
                    <mat-chip-list aria-label="skills">
                            <mat-chip >Java script</mat-chip>
                            <mat-chip >Angular</mat-chip>
                            <mat-chip >Type script</mat-chip>
                            <mat-chip >React</mat-chip>
                            <mat-chip >J-Query</mat-chip>
                            <mat-chip >Mongo DB</mat-chip>
                            <mat-chip >Express</mat-chip>
                            <mat-chip >JWT</mat-chip>
                            <mat-chip >Heroku</mat-chip>
                            <mat-chip >Netlify</mat-chip>
                            <mat-chip >APIs</mat-chip>
                            <mat-chip >CSS</mat-chip>
                            <mat-chip >Spotify developer</mat-chip>
                    </mat-chip-list>
                    <br />
                    <br />
                    <p><Strong>Contact: </Strong></p>
                    <address>
                       <a href="mailto:edgarcia-torres@myseneca.ca">edgarcia-torres@myseneca.ca</a>
                       <br />
                       <a href="tel:+16475706403">:+1 (647) 5706403</a>
                       <br />
                     </address>
                </div>
              </td>
                <td>
                    <img alt="image" src="./assets/images/me.jpg" style="width:90%; text-align: center">
                </td>
              </tr>
        </table>
</mat-card-content>
</mat-card>